{% extends 'forum/base.html' %}

{% block content %}
  <h2>Topics</h2>
  <a class="button" href="{% url 'create_topic' %}">New Topic</a>
  <ul>
    {% for topic in topics %}
      <li style="margin-bottom: 0.5rem;">
        <a href="{% url 'topic_detail' topic.id %}" style="color: #60a5fa; text-decoration: none;">
          {{ topic.title }}
        </a> 
        - {{ topic.created_at|date:"F j, Y, g:i a" }}
      </li>
    {% empty %}
      <p>No topics yet. <a class="button" href="{% url 'create_topic' %}">Create one!</a></p>
    {% endfor %}
  </ul>
{% endblock %}
